<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>活动预览</title>
</head>
<body>
    <iframe width="300" height="540">
    </iframe>

    <script src="/lib/jq/jquery-1.10.2.min.js"></script>

    <script>
        var url = "<%= url %>";
        $('iframe').attr("src", url);
    </script>
</body>
</html>
