p {
  margin-bottom: 5px;
  margin-top: 5px;
}

.text-white {
  color: white;
}

.text-yellow {
  color: yellow;
}

.container {
  width: 90%;
  margin: 0 auto;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: rgb(40, 40, 40);
}

#title {
  height: 43%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media all and (orientation: landscape) {
  #title {
    background-size: auto;
  }
}

#title .space {
  height: 65%;
  width: 100%;
}

#title h2 {
  height: 35%;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;

  background: rgba(40, 40, 40, 0.7);
  box-shadow: 0 -5px 5px rgba(40, 40, 40, 0.7);
}

main {
  width: 90%;
  height: 57%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  font-size: 1em;
  overflow-y: scroll;
}

footer {
  position: absolute;
  left: 5%;
  top: 78.5%;
  height: 21.5%;
  width: 90%;
  overflow-y: scroll;

  font-size: 0.75em;

  background-color: rgb(252, 228, 51);

  box-shadow: 0 -20px 5px rgba(40, 40, 40, 0.8), 0 20px 5px rgb(40, 40, 40);
}

footer h3 {
    margin-bottom: 0;
}

footer p {
    margin-bottom: 0;
    margin-top: 0;
}

footer ul {
    margin-top: 0;
}
