.text-white {
  color: white;
}

.text-yellow {
  color: yellow;
}

.container {
  width: 90%;
  margin: 0 auto;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#title {
  height: 30%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media all and (orientation: landscape) {
  #title {
    background-size: auto;
  }
}

#title .space {
  height: 60%;
  width: 100%;
}

#title h1 {
  height: 40%;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;

  background: rgba(40, 40, 40, 0.7);
  box-shadow: 0 -5px 5px rgba(40, 40, 40, 0.7);
}

main {
  width: 90%;
  height: 70%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  font-size: 1.2em;
  overflow-y: scroll;
  background: rgb(60, 60, 60);
}

footer {
  position: absolute;
  left: 5%;
  top: 75%;
  height: 25%;
  width: 90%;
  overflow-y: scroll;

  font-size: small;

  background-color: rgb(252, 228, 51);

  box-shadow: 0 -20px 5px rgba(60, 60, 60, 0.8), 0 20px 5px rgb(60, 60, 60);
}
